.nav-items:hover{
 font-size: 20px !important;
}

.list-users{
  margin-bottom: 10px;
  margin-left: 30px;
}

.add-user{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    gap: 20px;
    width:700px; 
}

.add-button{
    margin-left:400px !important;
    margin-top:30px !important;
}

.profile-pic{
  width:300px;
  height:300px;
  margin-left:50px;
}

.name{
  margin-top:100px;
}

.edit-icon{
  margin-top:120px;
}

.heading{
  margin-left: 400px;
}

.description{
  margin-left: 50px;
  width:650px;
}